/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin-top: 3rem;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  padding: 1rem;
  background-color: oklch(0.4 0.02 80);
  border-radius: 1rem;
}

.tile-2 {
  background-color: oklch(0.80 0.1 80)
}

.tile-4 {
  background-color: oklch(0.70 0.1 80)
}

.tile-8 {
  background-color: oklch(0.60 0.1 80)
}

.tile-16 {
  background-color: oklch(0.60 0.1 50)
}

.tile-32 {
  background-color: oklch(0.60 0.12 40)
}

.tile-64 {
  background-color: oklch(0.58 0.13 40)
}

.tile-128 {
  background-color: oklch(0.56 0.14 40)
}

.tile-256 {
  background-color: oklch(0.65 0.14 60)
}

.tile-512 {
  background-color: oklch(0.70 0.15 65)
}

.tile-1024 {
  background-color: oklch(0.75 0.16 65)
}

.tile-2048 {
  background-color: oklch(0.90 0.2 70);
  box-shadow: 0 0 20px oklch(0.90 0.2 70);
}
